<launch>

    <rosparam file="$(find handeye_calib)/cfg/config.yaml" />   

    <!-- Start Rviz-->>
    <node type="rviz" name="rviz" pkg="rviz" launch-prefix="gdb -ex run --args" args="-d $(find handeye_calib)/cfg/calibration.rviz"/>

    <!-- start the Realsense     -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    </include>

    <!-- start ArUco -->
    <arg name="namespace_prefix" default="fanuc_handeyecalibration" />
    <arg name="marker_size" value="0.10" doc="Size of the ArUco marker used, in meters" />
    <arg name="marker_id"  value="202" doc="The ID of the ArUco marker used" />

    <node name="aruco_tracker" pkg="aruco_ros" type="single">
        <remap from="/camera_info" to="/camera/color/camera_info" />
        <remap from="/image" to="/camera/color/image_raw" />
        <param name="image_is_rectified" value="false"/>
        <param name="marker_size"        value="$(arg marker_size)"/>
        <param name="marker_id"          value="$(arg marker_id)"/>
        <param name="reference_frame"    value="camera_link"/>
        <param name="camera_frame"       value="camera_color_optical_frame"/>
        <param name="marker_frame"       value="camera_marker" />
    </node>

    <!-- start hand eye calibrator -->
    <node name="handeye_calib" pkg="handeye_calib" type="handeye_calib">
    </node>

</launch>